<!DOCTYPE HTML>
<html>
<head>
    {% block stylesheet %}
        {% stylesheets
        '@UTSTestBundle/Resources/public/css/admin.css'
        %}
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}
    <h1>{{ "Queries"|trans }}</h1>
    {# total items count #}
    <div class="count">
        {{ "Total queries"|trans }} {{ queries.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(queries, '#', 'q.id') }}</th>
            <th>
                {{ knp_pagination_sortable(queries, 'Query'|trans, 'q.query') }}
            </th>
            <th{% if queries.isSorted('q.userName') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(queries, 'User'|trans, 'q.userName') }}
            </th>
            <th>{{ "Query time"|trans }}</th>
            <th>{{ "Arrive date"|trans }}</th>
            <th>{{ "Left date"|trans }}</th>
            <th>{{ "Count days arrive"|trans }}</th>
            <th>{{ "Count men"|trans }}</th>
        </tr>

        {# table body #}
        {% for query in queries %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ query.id }}</td>
                <td>{{ query.query }}</td>
                <td>{{ query.userName }}</td>
                <td>{{ query.time|date('d.m.Y H:i:s') }}</td>
                <td>{{ query.arriveDate|date('d.m.Y') }}</td>
                <td>{{ query.leftDate|date('d.m.Y') }}</td>
                <td>{{ query.countDaysArrive }}</td>
                <td>{{ query.countMen }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(queries) }}
    </div>
    <a href="{{ path('main') }}">{{ "User zone"|trans }}</a> | <a href="{{ path('logout') }}">{{ "Logout"|trans }}</a>
{% endblock %}
</body>
</html>