<!DOCTYPE HTML>
<html>
<head>
    {% block stylesheet %}
        {% stylesheets
            '../components/jquery-ui/themes/smoothness/jquery-ui.css'  filter='cssrewrite'
            '@UTSTestBundle/Resources/public/css/user.css'
        %}
        <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascript %}
        {% javascripts
            '../components/jquery/jquery.min.js'
            '../components/underscore/underscore.js'
            '../components/backbone/backbone.js'
            '../components/jquery-ui/ui/minified/jquery-ui.min.js'
            '../components/jquery-ui/ui/minified/i18n/jquery.ui.datepicker-ru.min.js'
            '@UTSTestBundle/Resources/public/js/views/*'
            '@UTSTestBundle/Resources/public/js/app.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
    <h1>{% trans %}Search hotel{% endtrans %}</h1>
    {{ form(form) }}
    {% if(is_granted('ROLE_ADMIN')) %}
        <a href="{{ path('admin') }}">{{ "Admin zone"|trans }}</a> |
    {% endif %}
    <a href="{{ path('logout') }}">{{ "Logout"|trans }}</a>
</body>
</html>