label {
    display: block;
    float: left;
    font-weight: bold;
    width: 237px;
}
input#form_city {
    width: 300px;
}
#form > div {
    margin: 5px 0;
}
button {
    float: right;
}
div#form {
    background-color: #DDEEFF;
    width: 544px;
}